# MLOpsCICD-GitOps-Argo/.gitignore

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.swp

# YAML artifacts
*.log
*.tmp

# Helm artifacts (рендерити чарти локально)
*.tgz
charts/

# Terraform (додати terraform init)
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# ArgoCD cache (тестувати локально з CLI)
.argocd/

# Node modules (додати UI/скрипти)
node_modules/

# додано щоб не перегружати файлами репо/ви можете провесити експеримент самостійно
.pkl

venvLesson-8-9
.env